<div class="navbar-nav mr-auto">
    {#<a href="{{ path('app_login') }}" class="btn btn-outline-light mx-1">{{ 'login'|trans }}</a>
    <a href="{{ path('app_register') }}" class="btn btn-outline-light mx-1">{{'register'|trans}}</a>#}
</div>